<div class="container-fluid">
    <div class="container text-center">
        <h1>
            Profile
        </h1>
        <h2>
            Álvaro Hernández Bonet
        </h2>
    </div>
    <div class="container">
        <h3>
            Experience:
        </h3>
        <ul>
            <li>
                <h4>
                    2019 - 2023: Computer Science Engineering Student at the Universitat Politecnica of Valencia
                </h4>
            </li>
            <li>
                <h4>
                    2021 - 2022: Internship at the company "ADD Informatica" as QA Tester and API Tester
                </h4>
                <h5>
                    * Skills: SOAPUI , Postman, APICalls, bash scripting ...
                </h5>
            </li>
            <li>
                <h4>
                    2023: Internship at the company Sopra Steria
                </h4>
                <h5>
                    * Skills: Java
                </h5>


        </ul>

        <div class="container">
            <h3>Academic Background:</h3>
            <ul>
                <li>
                    <h4>
                        2019 - 2023: Computer Science Engineering Student at the Universitat Politecnica of Valencia
                    </h4>
                </li>
                <li>
                    <h4>
                        2015 - 2016: Master's Degree in Security Defence and Geostrategy at University at Distance of
                        Madrid (UDIMA)
                    </h4>
                </li>
                <li>
                    <h4>
                        2011 - 2015: Bachelor's Degree in History at the Universitat de València.
                    </h4>
                </li>

            </ul>
        </div>


    </div>
    <div class="container">
        <h3>Proyects:</h3>
        <ul>
            <li>
                <h4>
                    2022 - 2023: Group Proyect of 4 members, developing a mobile application as a final project for the
                    degree
                </h4>
                <h5>
                    Tourist experiences made by local people, to improve the satisfaction of the visitors and
                    highlight the local culture and traditions. The application is being developed in ReactNative and
                    NodeJS and was presented in the 2022 edition of the Proyects Fair of the Universitat
                    Politecnica of Valencia.
                </h5>
                <h5>
                    * Skills: Javascript, ReactNative, NodeJS, Firebase...
                </h5>
                <h5>
                    Demo video:
                </h5>
                <div class="container text-center">
                    <iframe src="https://drive.google.com/file/d/1i6tlnRHmA_oPvEAP84OcQdUpiTu3e-DP/preview" width="50%"
                        height="75%" allow="autoplay"></iframe>

                </div>

            </li>


        </ul>


        <h3>
            More info about me:
        </h3>
        <ul>
            <li>
                <h4>
                    <a href="https://www.linkedin.com/in/%C3%A1lvaro-hern%C3%A1ndez-bonet/">Linkedin</a>
                </h4>
            </li>
            <li>
                <h4>
                    <a href="https://github.com/alvaroherbon">Github</a>
                </h4>
            </li>
        </ul>




    </div>