.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

/* #card :hover {
  background-color: rgb(231, 226, 226);
} */

.btn:hover {
  transform: scale(1.05, 1.05);
}

.card {
  background-color: #bfeaf5;
}
