
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #121212; /* Fondo negro */
  height: 100vh;
  overflow: hidden;
  position: relative;

}

.card-container{
position: relative;
  width: 80%; /* 80% del ancho de la pantalla */
  max-width: 700px; /* Máximo tamaño del cuadro */
  margin: 0 auto; /* Centrar horizontalmente */
  background-color: #2d2d2d; /* Tono gris oscuro */
  border-radius: 20px; /* Bordes redondeados */
  padding: 30px; /* Espaciado interno */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Sombra para dar profundidad */
  display: flex;
  flex-direction: column;
  align-items: center;

}


.image-container {
  position: relative;
  width: 350px;
  height: 450px;
  overflow: hidden;
  background: none; /* Sin fondo adicional */
  box-shadow: none; /* Elimina cualquier sombra del contenedor */
  border-radius: 20px;
}
.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position:  top ;

  /* Ajusta la posición de la imagen */
/* Difuminado en la parte inferior */
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}

/* Contenedor del texto */
.text-overlay {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.name {
  font-size: 2rem;
  font-weight: bold;
  color: #ff7eb3;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
  margin: 0;
}

.subtitle {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 300;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  margin: 5px 0 0 0;
}
