/* You can add global styles to this file, and also import other style files */

html {
  height: auto;
  background-color: #f8f4ea;
  box-sizing: border-box;
}

body {
  height: auto;
  margin: 10;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
