<div class="container">
    <h1>These are my current backend projects</h1>
    <div class="container d-flex flex-row">
        <div class="card w-50 h-50 m-2">
            <a class="card-block stretched-link" href="/backend/library">
                <img src="https://cdn.pixabay.com/photo/2016/09/10/17/18/book-1659717_1280.jpg" class="card-img-top"
                    alt="Imagen repositorio">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Library</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Firestore</h6>
                    <p class="card-text">Firestore database to handle books CRUD</p>
                </div>
            </a>
        </div>
        <div class="card w-50 h-50 m-2">
            <a class="card-block stretched-link" href="/backend/login">
                <img src="https://cdn.pixabay.com/photo/2016/09/11/05/34/whatsapp-interface-1660652_1280.png"
                    class="card-img-top" alt="Imagen repositorio">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Chat</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Firestore</h6>
                    <p class="card-text">Users real time chat with register form</p>
                </div>
            </a>
        </div>
    </div>
</div>