<div class="container-fluid d-flex flex-row">
    <div class="container col-4 m-1" id="contactsPannel">
        <h4>Welcome {{user.name}}</h4>
        <div class="d-flex flex-row mt-2 mb-2">
            <input type="text" class="form-control col-4" placeholder="Search" aria-label="Search"
                aria-describedby="basic-addon1">
            <div class="col-8"></div>
        </div>
        <h5>Contacts</h5>
        <ul *ngFor="let contact of contacts ">
            <li class="list-group-item">
                <button class="btn btn-link" (click)="selectContact(contact)">
                    <h5>{{contact.name}}</h5>
                </button>
            </li>
        </ul>
        <h5>Chats</h5>
        <ul *ngFor="let chat of chats ">
            <li class="list-group-item">
                <button class="btn btn-link" (click)="selectChat(chat)">
                    <h5>{{chat.name}}</h5>
                </button>
            </li>
        </ul>
        <div class="container d-flex flex-row">
            <button class="btn btn-primary col" (click)="createNewChat()">Create New Chat</button>
            <div class="col-3"></div>
            <button class="btn btn-secondary col" (click)="addNewContact()">Add Contact</button>
        </div>
    </div>

    <div class="container col-8 m-1 overflow-auto" id="chatPannel">
        <app-chat-message-list [chat]="selectedChat" *ngIf="selectedChat != null"></app-chat-message-list>
        <div class="container d-flex flex-row justify-content-between">
            <form [formGroup]="sendForm" class="col">
                <input type="text" class="form-control" placeholder="Type a message" aria-label="Search"
                    aria-describedby="basic-addon1" formControlName="messageToSend">
            </form>
            <button class="btn btn-primary col-1" (click)="sendMessage()">Send</button>
        </div>
    </div>

</div>