<div class="container-fluid d-flex flex-row">
    <div class="container col-4 m-1" id="contactsPannel">
        <h4>Welcome {{user.name}}</h4>
        <div class="d-flex flex-row mt-2 mb-2">
            <input type="text" class="form-control col-4" placeholder="Search" aria-label="Search"
                aria-describedby="basic-addon1">
            <div class="col-8"></div>
        </div>
        <h5>Contacts</h5>
        <ul *ngFor="let chat of chats ">
            <li class="list-group-item">
                <button class="btn btn-link" (click)="selectChat(chat)">
                    <h5>{{chat.id}}</h5>
                </button>
            </li>
        </ul>
    </div>

    <div class="container col-8 m-1" id="chatPannel">
        <div class="container" *ngFor="let message of messages">
            <h4>{{message.sender}}</h4>
            <p>{{message.message}}</p>
            <span class="time-right">{{message.timestamp}}</span>
        </div>
        <div class="container d-flex flex-row justify-content-between">
            <form [formGroup]="sendForm" class="col">
                <input type="text" class="form-control" placeholder="Type a message" aria-label="Search"
                    aria-describedby="basic-addon1" formControlName="messageToSend">
            </form>
            <button class="btn btn-primary col-1" (click)="sendMessage()">Send</button>
        </div>

    </div>

</div>